accelerate==0.28.0
datasets==2.14.7
deepspeed==0.14.0
numpy==1.26.4
pandas==2.2.1
peft==0.10.0
torch==2.2.1
tqdm==4.65.0
transformers==4.39.0
trl==0.8.1
wandb==0.16.4
flash-attn==2.5.6
bitsandbytes==0.43.0
chardet==5.2.0